.navigator-pane-container {
    height: 100%;
    width: 100%;

    color: white;
    text-shadow: 1px 1px 1px rgba(128, 128, 128, 0.15);

    display: flex;
    flex-direction: column;
}

.budgets {
    margin-top: 1.25rem;
    margin-left: 2rem;
    margin-right: auto;
}

.budgets .btn {
    margin: 0.5rem;
}

.btn-outlined {
    background-color: rgba(1,1,1,0);
    color: white;
    text-shadow: 1px 1px 1px rgba(128, 128, 128, 0.15);
}

.btn-outlined:hover {
    border: 1px solid white;
    box-shadow: 1px 1px 1px rgba(128, 128, 128, 0.1);
}