<div class="navigator-pane-container">

    <div class="budgets">
        <h1 class="budgets-header">
            Budgets
        </h1>
        <button type="button" class="btn btn-outlined">+ New</button>
    </div>

</div>