.budget-display-container {
    padding: 1rem;

    display: flex;
    flex-direction: column;
}

.budget-display-header {
    border-bottom: 1px solid rgba(210, 210, 228, 0.815);
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-bottom: 1rem;

    color: rgb(62, 62, 62);

    display: flex;
    flex-direction: row;
    align-items: center;
}

.date-range {
    font-weight: bold;
}