<div class="budget-display-container">

    <h1 class="budget-display-header">
        <span class="clickable date-range mr-2">December 2021</span>
        <fa-icon icon="caret-down"></fa-icon>

        <fa-icon icon="sliders-h" class="ml-auto"></fa-icon>
    </h1>

    <category-display class="mt-3" [category]="category" *ngFor="let category of this.budgetBuilder.budget.categories.values()"></category-display>

</div>