.category-display-container {
    box-shadow: 2px 2px 8px rgba(186, 186, 186, 0.5);
}

.category-header {
    height: 2rem;
    line-height: 2rem;
    padding-left: 1rem;

    background-color: rgb(150, 217, 254);
    color: white;
    font-weight: 500;

    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}

.category-footer {
    height: 2rem;
    line-height: 2rem;

    padding-left: 1rem;
    padding-right: 1rem;
}

.category-footer span {
    font-weight: bold;
}

.category-items {
    padding: 0;
    margin: 0;
}

.category-items li {
    color: rgb(60, 60, 60);

    height: 2rem;
    line-height: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border-bottom: 1px solid rgba(128, 128, 128, 0.2);
}

.category-items li:hover {
    transition: 0.5s;
    color: black;
    border-bottom: 1px solid rgb(88, 197, 255) !important;
}

.new-item-color {
    color: rgb(88, 197, 255);
}

.new-item {
    display: flex;
    align-items: center;

    color: rgb(88, 197, 255) !important;
    font-weight: 400;
}

.new-item span {
    margin-left: 0.15rem;
    margin-top: 3px;
    margin-bottom: 0;
}

.category-footer {
    display: flex;
    flex-direction: row;
}