
.navigator-pane {
    width: 15vw;
    margin-top: 0.15rem;
    margin-left: 0.15rem;
    margin-bottom: 0.15rem;

    background-color: rgb(83, 232, 148);
}

.main-pane {
    flex-grow: 1;
    margin-left: 0.15rem;
    margin-right: 0.15rem;
    margin-top: 0.15rem;
    margin-bottom: 0.15rem;

    z-index: 200;
}

.main-pane-component {
    display: flex;
    flex-direction: row;
}