<div id="view" class="view h-100 w-100 d-flex flex-column">

  <nav class="container-fluid" [ngClass]="styling.theme">
    <ol class="d-flex flex-row">

      <!-- Logo -->
      <li class="clickable logo nav-item">
        <img src="assets/icon.png" class="logo-img">
        <span class="logo-text">Budgeteer</span>
      </li>

      <!-- Shown for Guests -->
      <li class="clickable ml-auto nav-item">
        <span>Login</span>
      </li>

      <li class="nav-item">
        <span class="small-divider"></span>
      </li>

      <li class="clickable nav-item">
        <span>Sign Up</span>
      </li>

    </ol>
  </nav>

  <!-- Main Content -->
  <content class="content"></content>

</div>
