.view {
  background-color: rgb(245, 245, 245) !important;
}

nav {
  height: 4rem;
  box-shadow: 2px 2px 50px rgba(215, 215, 215, 0.5);
  z-index: 100;

  color: rgb(94, 94, 94);
}

nav ol {
  height: 100%;
  padding: 0;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.nav-item {
  display: flex;
  height: 100%;
  align-items: center;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.logo {
  display: flex;
  max-width: 15%;
  height: 100%;
  align-items: center;
  padding-top: 0.25rem;
}

.logo-img {
  margin-top: -5px;
  width: 100%;
  max-height: 60%;
}

.logo-text {
  margin-left: 8px;
  font-size: 2rem;
  font-family: 'praise';

  color: black;
}

.content {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
}

@media only screen and (max-width: 750px) {

  .logo {
    max-width: 50%;
    height: 100%;
  }

}

